.App {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
}

.title {
    text-align: center;
    margin-bottom: 8px;
}

.search-input {
    width: 86%;
    padding: 10px 12px 10px 20px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-name {
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    margin: 0px 0px 4px;
}

.contact-phone {
        font-size: 14px;
    color: rgb(102, 102, 102);
    margin: 0px;
}